.container {
  position: relative;
  width: 50%;
  padding-top: 75px;
  padding-bottom: 229px;
}

.image {
  position: absolute;
  top: 0;
  bottom: -5px;
  left: 100%;
  right: -100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.image img {
  vertical-align: bottom;
}

.role {
  margin-bottom: 15px;
  opacity: 0.5;
}

.crewmateName {
  margin-bottom: 37px;
  white-space: nowrap;
}

.bio {
  width: 444px;
}
