.container {
  display: flex;
  align-items: center;
  width: 830px;
  height: 96px;
  margin-left: -30px;
  padding-inline: 123px 165px;
  background-color: hsla(0, 0%, 100%, 0.04);
  backdrop-filter: blur(81px);
}

.nav {
  width: 100%;
}

.nav ul {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.link {
  position: relative;
  display: inline-block;
  outline: none;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 2.7px;
  text-transform: uppercase;
  vertical-align: top;
}

.link:focus::before,
.link:hover::before {
  content: '';
  position: absolute;
  bottom: -32px;
  left: 0;
  display: block;
  width: 100%;
  height: 3px;
  background-color: hsla(0, 0%, 100%, 0.5);
}

.index {
  font-weight: 700;
  padding-right: 11px;
}

.activeBar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: var(--width);
  height: 3px;
  background-color: var(--white);
  transform: translate(var(--x), 0);
  transition-property: transform, width, height;
  transition-duration: 0.3s;
}

.openIcon {
  position: fixed;
  top: 28px;
  right: 20px;
  display: none;
  place-items: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  cursor: pointer;
}

.openIcon:hover {
  background-color: hsla(0, 0%, 100%, 0.1);
  box-shadow: 0 0 0 5px hsla(0, 0%, 100%, 0.1);
}

.openIcon span,
.openIcon span::before,
.openIcon span::after {
  position: absolute;
  display: block;
  width: 24px;
  height: 3px;
  background-color: var(--white);
  transform-origin: center;
  transition: transform 0.2s;
}

.openIcon span::before,
.openIcon span::after {
  content: '';
}

.openIcon span::before {
  transform: translateY(-6px);
}

.openIcon span::after {
  transform: translateY(6px);
}

.openIcon.openIcon--cross span {
  background-color: transparent;
}

.openIcon.openIcon--cross span::before {
  transform: translateY(0) rotate(45deg);
}

.openIcon.openIcon--cross span::after {
  transform: translateY(0) rotate(-45deg);
}

@media (max-width: 1439px) {
  .container {
    width: 450px;
    padding-inline: 48px;
  }

  .link {
    font-size: 14px;
    letter-spacing: 2.36px;
  }

  .index {
    display: none;
  }
}

@media (max-width: 767px) {
  .container {
    position: fixed;
    top: 0;
    bottom: 0;
    right: -254px;
    width: 254px;
    height: 100vh;
    padding-top: 113px;
    padding-left: 30px;
    transition: transform 0.25s;
  }

  .container.open {
    transform: translateX(-100%);
  }

  .activeBar {
    top: 0;
    bottom: auto;
    left: auto;
    right: 0;
    width: 4px;
    height: var(--height);
    transform: translate(0, var(--y));
  }

  .nav {
    height: 100%;
  }

  .nav ul {
    flex-direction: column;
    gap: 30px;
  }

  .link {
    font-size: 16px;
    letter-spacing: 2.7px;
  }

  .link:focus::before,
  .link:hover::before {
    bottom: 0;
    left: 220px;
    width: 4px;
    height: 100%;
  }

  .index {
    display: inline;
  }

  .openIcon {
    display: grid;
  }
}
