.container {
  padding-bottom: 101px;
}

.nav {
  height: 0;
  transform: translateY(73px);
}

.nav ul {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav li {
  display: grid;
  place-items: center;
  width: 80px;
  height: 80px;
  border: 1px solid hsla(0, 0%, 100%, 0.25);
  border-radius: 50%;
  cursor: pointer;
}

.nav li:hover,
.nav li:focus {
  border-color: var(--white);
}

.nav li.active {
  background-color: var(--white);
  color: var(--dark);
}
