@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed:wght@400;700&family=Bellefair&display=swap');

@import './colors.css';

body {
  min-height: 100vh;
  margin: 0;
  overflow-x: hidden;
  background-color: var(--dark);
  color: var(--white);
  font-family: Barllow, system-ui, sans-serif;
  font-size: 18px;
  line-height: 32px;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-block: 0;
  font-weight: 400;
}

p {
  margin-block: 0;
}

img {
  width: 100%;
  height: auto;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
