.container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding-top: 250px;
  padding-bottom: 132px;
  margin-inline: 165px;
}

.hero {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: min-content;
}

.heroTitle {
  padding-right: 26px;
}

.button {
  width: 274px;
  height: 274px;
  border: none;
  outline: none;
  border-radius: 50%;
  color: var(--dark);
  font-size: 32px;
  font-family: Bellefair;
  letter-spacing: 2px;
  transition: box-shadow 250ms ease-in-out;
  cursor: pointer;
}

.button:hover,
.button:focus {
  box-shadow: 0 0 0 88px hsla(0, 0%, 100%, 0.1);
}

@media (max-width: 1439px) {
  .container {
    flex-direction: column;
    align-items: center;
    padding-top: 108px;
    padding-bottom: 90px;
  }

  .hero {
    text-align: center;
  }

  .button {
    width: 242px;
    height: 242px;
    margin-top: 160px;
  }
}

@media (max-width: 767px) {
  .hero {
    width: 100%;
  }

  .button {
    width: 150px;
    height: 150px;
    font-size: 20px;
    letter-spacing: 1.25px;
  }
}
