.container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-top: 250px;
  margin-inline: 165px;
}

.hero {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: min-content;
}

.button {
  width: 274px;
  height: 274px;
  border: none;
  outline: none;
  border-radius: 50%;
  transition: box-shadow 250ms ease-in-out;
}

.button:hover,
.button:focus {
  box-shadow: 0 0 0 88px hsla(0, 0%, 100%, 0.1);
}
